name: la_toolkit
description: Living Atlases Toolkit - Frontend

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# version: 1.0.0+1
version: 1.3.11

environment:
  sdk: '>=2.12.0 <3.0.0'

flutter-json:
  enable: true

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  # cupertino_icons: ^1.0.1
  google_fonts: ^2.0.0

  # ui
  introduction_screen: ^2.0.0
  # https://github.com/Cretezy/flutter_linkify/issues/79
  flutter_linkify: ^5.0.2
  url_launcher: ^6.0.2
  flutter_markdown: ^0.6.1
  timelines: ^0.1.0
  responsive_grid: ^2.0.0
  feedback: ^2.2.1
  flutter_advanced_switch: ^3.0.0
  # Used for service selection (for instance in service deploy)
  # https://github.com/davigmacode/flutter_chips_choice/pull/21
  chips_choice: # 2.0.1
    # path: ../flutter_chips_choice
    git:
      url: https://github.com/vjrj/flutter_chips_choice.git
  percent_indicator: ^3.3.0-nullsafety.1
  rflutter_alert: ^2.0.2
  # xterm: ^1.1.1+1
  clipboard: ^0.1.3
  # loading spinner
  loader_overlay: ^2.0.1
  # used for terms
  modal_bottom_sheet: ^2.0.0
  # web_browser: ^0.5.0
  # bottom floating button
  flutter_speed_dial: ^5.0.0+1
  # listview animation
  flutter_staggered_animations: ^1.0.0
  # date
  simple_moment: ^1.1.0
  duration: ^3.0.6
  # navigation
  beamer: ^1.0.0-pre.4.0
  # version comparison
  version: ^2.0.0
  # dart.dev more advanced:
  pub_semver: ^2.0.0
  badges: ^2.0.2
  circular_countdown_timer: ^0.2.0
  #flutter_xlider:
  #  git:
  #    url: https://github.com/Ksomething/flutter_xlider.git
  #    ref: 6c8fd24
  fl_chart: ^0.40.6
  multi_select_flutter: ^4.0.0
  convex_bottom_bar: ^3.0.0
  tap_debouncer: ^2.0.0

  # icon
  # mdi: ^5.0.0-nullsafety.0
  material_design_icons_flutter: ^5.0.6295
  # font_awesome_flutter: ^8.11.0

  # data
  json_annotation: ^4.4.0
  copy_with_extension: ^3.0.0
  # uuid: ^3.0.2
  objectid: 2.0.0
  http: ^0.13.1
  # flutter_data: ^0.7.0
  yaml: ^3.1.1

  shared_preferences: ^2.0.5

  # responsive framework and deps
  responsive_framework: ^0.1.0
  # animations: ^2.0.0

  # state
  flutter_redux: ^0.8.2
  redux_logging: ^0.5.0
#  redux_persist: ^0.9.0
#  redux_persist_flutter: ^0.9.0

  # utils
  flutter_dotenv: ^5.0.2 # ^3.1.0
  package_info_plus: ^1.0.0
  tuple: ^2.0.0
  # intl: ^0.17.0

  cron: ^0.4.0
  universal_html: ^2.0.4

  # map
  flutter_map: ^0.14.0
  # https://github.com/porn/area/pull/2
  area: # ^1.0.0
    git:
       url: https://github.com/DirkoOdendaal/area.git
       ref: feature/migrate-to-null-safety-dart-2.12
  latlong2: ^0.8.0
  # universal_ui: ^0.0.8
  pointer_interceptor: ^0.9.0+1
  timeline_tile: ^2.0.0
  toggle_switch: ^1.2.0
  sails_io: ^0.0.2
  infinite_scroll_pagination: ^3.1.0
  rxdart: ^0.27.3
  sentry: ^6.4.0
  web_socket_channel: ^2.2.0

dev_dependencies:
  build_runner: ^2.0.1
  json_serializable: ^6.1.3
  copy_with_extension_gen: ^3.0.0
  test: ^1.16.5
  dbcrypt: ^2.0.0

  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.3
  # integration_test:
  #  sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/.env.development
    - assets/.env.production
    - assets/la-toolkit-templates.json
    - assets/images/la-icon.png
    - assets/images/ala-icon.png
    - assets/images/la-toolkit-intro-images-2.png
    - assets/images/la-toolkit-intro-images-3.png
    - assets/images/la-toolkit-intro-images-4.png
    - assets/images/la-toolkit-intro-images-5.png
    - assets/images/themes/clean.png
    - assets/images/themes/cosmo.png
    - assets/images/themes/darkly.png
    - assets/images/themes/flatly.png
    - assets/images/themes/material.png
    - assets/images/themes/paper.png
    - assets/images/themes/sandstone.png
    - assets/images/themes/simplex.png
    - assets/images/themes/slate.png
    - assets/images/themes/superhero.png
    - assets/images/themes/yeti.png

  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
  fonts:
    - family:  LAIcon
      fonts:
        - asset: fonts/LAIcon.ttf
